form.signup,
form.login {
  margin-top: 50px;
}
/* body {

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDgYtkg6TF4aJlTQYNEYYE0Wb123BQwtqMRA&usqp=CAU");
  /* background-repeat: no-repeat, no-repeat; */
  /* width: 100%;
  height: 100%; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */ 

.loginPage {
  background-image: url("https://www.biddingforgood.com/orgs/LEFauction/207100190/boot-camp.jpg");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  /* background-color: #cccccc; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }

 main {
  background-image: url("https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2019-8/couple-hiking-mountain-climbing-1296x728-header.jpg?w=1155&h=1528");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }
 #signupPage {
  background-image: url("https://us.123rf.com/450wm/dolgachov/dolgachov1511/dolgachov151102303/47960487-fitness-sport-friendship-and-healthy-lifestyle-concept-group-of-happy-teenage-friends-jumping-high-o.jpg?ver=6");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }
/* 
#container2 {
  align-items: center;
  padding: 10px; */
/* } */
section {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTryamj8cIdS5ndtGOcP6veG2WN7Q0iZDfK7Q&usqp=CAU");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }