*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

form.signup
form.login {
  margin-top:50px;

}

.loginPage {
  /* background-image: url("https://www.biddingforgood.com/orgs/LEFauction/207100190/boot-camp.jpg");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover; */
  /* background-color: #cccccc; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black
 }

 main {
  background-image: url("https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2019-8/couple-hiking-mountain-climbing-1296x728-header.jpg?w=1155&h=1528");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }
 #signupPage {
  background-image: url("https://us.123rf.com/450wm/dolgachov/dolgachov1511/dolgachov151102303/47960487-fitness-sport-friendship-and-healthy-lifestyle-concept-group-of-happy-teenage-friends-jumping-high-o.jpg?ver=6");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }
 #fitcolor{
   color: #f97171;
 }
#jumbotron {
  opacity: 0.7;
}

.welcome {
  background-image: url("https://images.unsplash.com/photo-1571103189706-cd54b23e81f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #FAFAFA;
  font-family:'Raleway', sans-serif;
  /* color: white; */
  height: 100%;
 }
body {
  font-family: 'Raleway', sans-serif;
}

 .wrapper{
   display:flex;
   position: relative;
   text-decoration: none;
 }
 
 .createPage {
  background-color: 1d4d4f;
 }

 #viewPage {
   background-color: 1d4d4f;
 }

 .evite {
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
 }

 .wrapper .sidebar{
   position: fixed;
   width: 15%;
   min-width: 100px;
   height: 100%;
   background: #385a7c;
   padding: 30px 0;
 }

 .wrapper .sidebar ul li{
  list-style-type: none;
  padding: 15px;
  width: -20px;
  font-size: 20px;
 }
 .wrapper .sidebar h2{
  color: #f97171;
  font-size: 36px;
 }

 .wrapper .sidebar .far{
  color: white;
  font-size: 28px;
 }
 .wrapper .sidebar .fas{
  color: white;
  font-size: 28px;
 }
 .wrapper .sidebar .logout{
  color: white;
  font-size: 20px;
  width: 5px;
  /* line-height: 40px; */
  margin-top: 400px;
 }

 .card{
   min-width: 175px;
 }


